<div class="flex! flex-col gap-8 swiper-slide">
  <div class="flex items-center gap-7.5 justify-end">
    <h3
      class="text-[#19284A] font-semibold text-3xl tracking-wider leading-none"
    >
      Who we are
    </h3>
    <div class="w-2 h-20 bg-[#192631]"></div>
  </div>
  <div class="text-sm font-light leading-7 tracking-widest text-end">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s, when an unknown printer took a galley of type and scrambled it to
    make a type specimen book. It has survived not only five centuries, but also
    the leap into electronic typesetting, remaining essentially unchanged. It
    was popularised in the 1960s with the release of Letraset sheets containing
    Lorem Ipsum passages, and more recently with desktop publishing software.
  </div>
  <a
    href="#"
    class="text-[#192631] btn btn-outline h-14 w-52.5 border-[#192631] rounded-none text-base font-medium self-end tracking-widest leading-7.5"
  >
    More...
  </a>
</div>
