<div
  class="flex! flex-col justify-center h-full bg-no-repeat bg-cover swiper-slide"
  style="background-image: url('/src/assets/slider-img.jpg')"
>
  <div class="container">
    <h1
      class="text-4xl leading-12.5 font-extrabold tracking-wider text-white max-w-183"
    >
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </h1>
    <div
      class="mt-12 text-xl leading-7.5 tracking-widest text-white mb-17 max-w-175"
    >
      More recently with desktop publishing software like Aldus PageMaker
      including versions of Lorem Ipsum.
    </div>
    <a
      href="#"
      class="text-white btn btn-outline h-14 w-52.5 border-white rounded-none text-base font-medium leading-7.5 tracking-widest"
    >
      More...
    </a>
  </div>
</div>
