---
import Header from "../components/layouts/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Privacy Policy">
  <main class="container pb-20 pt-9">
    <Header title="Privacy Policy" />
    <article class="text-base leading-7 tracking-wider text-[#363333]">
      Lorem fugiat nulla voluptate non ipsum. Enim eiusmod et ullamco proident
      amet irure labore mollit esse fugiat. Irure minim sint excepteur dolore
      laboris in minim laborum. Commodo nulla nisi adipisicing ullamco nulla
      officia aute incididunt sunt et. Nulla cupidatat exercitation sint ea
      irure voluptate proident irure labore magna. Incididunt culpa ea ex do
      nulla excepteur laboris incididunt. Minim sint ea incididunt nisi nulla
      cupidatat cillum in in reprehenderit enim esse id nulla. Nostrud esse in
      culpa aliquip anim consequat. Consequat enim et pariatur voluptate sint
      non et labore non quis cillum voluptate sit. Commodo nulla ad ullamco
      occaecat. Dolor exercitation laboris id culpa ipsum in anim laborum ut
      cupidatat et irure in pariatur. Pariatur sunt velit ipsum incididunt dolor
      nulla ut cillum qui anim minim do magna. Proident est minim eiusmod
      deserunt ullamco irure ad consequat dolore cupidatat enim quis. Anim
      cupidatat sint deserunt Lorem reprehenderit. Ex voluptate tempor dolore
      exercitation mollit commodo elit exercitation minim magna. Ex sint magna
      pariatur nostrud. Do nulla qui incididunt cupidatat culpa duis cillum elit
      laboris eiusmod in ut enim. Occaecat labore magna tempor do cillum.
      Excepteur duis do velit in ut enim eiusmod nulla dolore adipisicing velit
      esse nulla dolor. Ut commodo pariatur reprehenderit amet esse culpa aliqua
      exercitation mollit laboris magna veniam consequat. Veniam est sunt
      consectetur Lorem esse anim et nostrud excepteur magna ex cupidatat
      nostrud ipsum. Labore deserunt amet sit irure. Sint et esse occaecat
      voluptate elit fugiat fugiat non occaecat consequat. Nostrud dolore
      commodo duis ipsum qui laborum et deserunt. Elit reprehenderit adipisicing
      et ex id pariatur cillum laboris enim incididunt. Minim Lorem do ullamco
      do voluptate reprehenderit voluptate cupidatat do velit duis duis est ut.
      Minim tempor officia amet sit amet et excepteur reprehenderit magna et.
      Est aliquip culpa cillum consectetur labore nulla culpa esse incididunt
      eiusmod. Quis in eiusmod ut eiusmod sunt reprehenderit qui sit labore et
      amet ad magna. Qui proident velit sunt do amet dolor sit duis aliqua
      dolor. Incididunt minim incididunt mollit pariatur qui labore laboris.
      Dolore voluptate reprehenderit aliqua nisi ullamco minim commodo commodo
      fugiat amet esse irure. Dolor et proident anim et commodo ex sint ea.
      Commodo nulla culpa ipsum excepteur mollit fugiat pariatur exercitation
      amet irure. Do nulla sunt ea sint mollit aliqua velit aute deserunt magna.
      Dolor mollit labore velit veniam sit dolor sunt nulla cillum elit amet.
      Aliqua ex consequat mollit ad veniam. Sunt magna cupidatat consequat
      tempor minim cupidatat reprehenderit sunt cupidatat ea ea officia aute.
      Dolor laborum laborum do ad non nisi eu ad aliquip mollit. Pariatur veniam
      labore incididunt eiusmod nulla nisi incididunt velit esse culpa nostrud
      velit sit. Incididunt ipsum dolor mollit aliquip occaecat occaecat. Duis
      consequat aliquip adipisicing minim pariatur. Tempor qui aliquip sit enim
      do sit dolor quis cupidatat exercitation pariatur occaecat magna ut.
      Officia consequat sit excepteur dolor veniam do commodo id laborum eu
      aute. Non non fugiat aliquip Lorem sint velit eiusmod eu proident.
      Proident excepteur laboris labore irure. Duis qui eu magna ex ut nostrud.
      Ullamco sint cillum veniam sit dolor eiusmod qui ad irure sit elit.
      Consectetur ea dolor nostrud aliquip excepteur culpa excepteur nisi sunt
      labore. Tempor sit eiusmod est esse ea. Ad incididunt culpa amet sunt sunt
      Lorem consequat duis. Sit magna incididunt labore in duis est
      reprehenderit ullamco tempor. Eu quis id aute est nisi aute ut.
    </article>
  </main>
</Layout>
