---
import Header from "../components/layouts/Header.astro";
import Layout from "../layouts/Layout.astro";
import Service from "../components/Service.astro";
---

<Layout title="What we do">
  <main class="container pb-20 pt-9">
    <Header title="What we do" />
    <section class="grid lg:grid-cols-3 gap-x-9 gap-y-12.5 mt-9">
      <Service image="/src/assets/blog-4.jpg" />
      <Service image="/src/assets/blog-5.jpg" />
      <Service image="/src/assets/blog-6.jpg" />
      <Service image="/src/assets/blog-1.jpg" />
      <Service image="/src/assets/blog-2.jpg" />
      <Service image="/src/assets/blog-3.jpg" />
    </section>
  </main>
</Layout>
