---
import { Image } from "astro:assets";
import arrow from "/src/assets/arrow-right.svg";

const { image } = Astro.props;
---

<a href="#">
  <Image
    src={image}
    alt="Blog"
    loading="eager"
    width={410}
    height={360}
    class="w-102.5 h-90 object-cover mx-auto"
  />
  <h6
    class="uppercase text-[#A2A6CA] text-sm leading-4 font-medium tracking-[15%] mt-5 mb-3"
  >
    10 NOVEMBER
  </h6>
  <h3
    class="mb-4 font-bold text-[22px] leading-7.5 tracking-widest text-[#363333]"
  >
    Lorem Ipsum is simply dummy text
  </h3>
  <div class="text-xs leading-7 text-[#363333] tracking-[15%]">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s...
  </div>
  <hr class="my-5 h-px bg-[#EFEFEF] border-0" />
  <div class="flex items-center justify-between">
    <span class="text-[#A2A6CA] font-medium text-base tracking-[15%] leading-5"
      >Read more...</span
    ><Image src={arrow} alt="Arrow" />
  </div>
</a>
